.main-box{
    margin-top: 10px;
    height: 500px;
    width: 100%;
    max-width: 100%;
   
    display: flex;
    margin-left: 5px;

 
}

.main-box div{
    flex-direction: row;
   
    height: 40px;
    width: 25%;
    margin-top: 4%;
    margin-left: 7%;
 
   
   
}
.emergency{
    height: 250px;
    margin-top: 50px;
    width: 5%;
    background-color: #c13434;
}
.emergency li{
    list-style: none;
    color: #fff;
    font-weight: bolder;
}