.doctorDiv{
   width: 80%;
    
    height: 160px;
    margin-top: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
}
.doctorDiv div{
    flex-direction: row;
   
 
    height: 150px;
    width: 33.33%;
}
.img{
    height: 90px;
    width: 140px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.text{
    
    font-family: sans-serif;
   margin-left: 5px;
    padding: 5px;
    font-size: 15px;
    font-weight: bolder;
}