.doctorTime{
    width: 100%;
    max-width: 1020px;
 
    margin-top: 10px;
 
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;   
    margin-bottom: 10px;
    overflow-x: auto;

    margin-left: 10%;

}

.doctorTime::-webkit-scrollbar{
width: 0;

}
.doctorTime::-webkit-scrollbar-thumb{
    background-color: #003a70;
}
.doctorTime::-webkit-scrollbar-track{
    background-color: #fff;
}

.doctorTime div{
    flex-direction: row;
    min-width: 210px;
   width: 50px;
  text-align: center;
  border-right: 1px solid black;
    
}